<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- immport css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/lib/bootstrap-5.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome-free-6.5.1-web/css/all.min.css">
</head>
<body class="body">
  <header class="sticky-top">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/img/phimmoi.png" alt="" width="180px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/static">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/phimbo">Phim Bộ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/phimchieurap">Phim Chiếu Rạp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/phimle">Phim Lẻ</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <a href="#"><button class="btn btn-outline-success" type="submit">Đăng Nhập</button></a>

            </div>
        </div>
    </nav>
</header>
  <section>
    <div class="card card1" style="width: 30rem;">
        <div class="card-body ">
          <h5 class="card-title fs-2">Đăng nhập</h5>
            <hr class="ke"  width="100%"/>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="">
            <label for="floatingInput">Nhập email hoặc số điện thoại</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <div class="hienmk">
                <input type="checkbox" id="showPassword"> Hiện mật khẩu
            </div>
            <label for="password">Mật khẩu</label>
          </div>
          <div class="quenmatkhau">
            <a href="#">Quên mật khẩu?</a>
          </div>
          <div class="nutdangnhap">
            <button type="button" class="btn btn-primary btn-lg but1">Đăng nhập</button>
          </div>
          <hr  width="100%"/>
          <div class="dnkhac">
            <p>Hoặc đăng nhập bằng</p>
            <div class="icon">
                <a href="https://www.facebook.com/?stype=lo&deoia=1&jlou=Afc_rYEh6naRae7npECtEeouunsko72M0skNFzuX6VtrzqKTsDFEKxt5qh_xn227ITE8Z6BLeFwB9DTGK2-qDin5is6hdMfe2ekG90J_1JocmA&smuh=47790&lh=Ac_O7-61ouZufERh5Qs"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://accounts.google.com/v3/signin/identifier?authuser=0&continue=https%3A%2F%2Ftakeout.google.com%2F%3Fhl%3Dvi%26pli%3D1&ec=GAlAwAE&hl=vi&flowName=GlifWebSignIn&flowEntry=AddSession&dsh=S-1811578219%3A1708636348364501&theme=glif"><i class="fa-brands fa-google"></i></a>
            </div>
          </div>
          
          <p class="newacc">Chưa có tài khoản? <a href="/dangky">Đăng ký miễn phí</a></p>
        </div>
      </div>
   </div>
</section>
 
   <script src="/js/main.js"></script>
</body>
</html>