<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webphim18</title>
    <!-- import bootstrap -->
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/lib/bootstrap-5.3.1-dist/css/bootstrap.min.css">

</head> 
<body class="body">
   <th:block th:replace="~{/fragments/header :: header}"></th:block>

    <section class="py-4 pb-4 bacgroud">
        <div class="container">
            <div class="nav hdtrang1">
                <hr width="40%" class="mt-4 right" size="18px">
                <h3 class="mb-3 text-center fw-bold fs-1">Phim Hot</h3>
                <hr width="46%" class="mt-4 left" size="18px" >
            </div>
            
            
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner imgposter">
                  <div class="carousel-item active">
                    <a href="./phim.html"><img src="/img/k66M69Vs5ROks9qAQbs49LV8515.jpg" class="d-block w-100 " alt="..."></a>
                  </div>
                  <div class="carousel-item">
                    <img src="/img/tw4tJa11JiRoTod4D0kzZrqSG4M.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/k66M69Vs5ROks9qAQbs49LV8515.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>

    <section class="py-4 pb-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-3">Phim Bộ Mới Cập Nhật</h3>
                <a href="#">Xem thêm</a>
            </div>
            <div class="row">
                <div class="col-2" th:each="movie : ${singleMovieList}">
                    <div class="movie-item" th:each="movie : ${hotMovieList}">
                        <a th:href="@{/phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug})}" class="movie-media">
                            <div class="movie-poster rounded overflow-hidden">
                                <img th:src="${movie.poster}" th:alt="${movie.title}" class="w-100 h-100">
                            </div>
                            <p class="mt-2" th:text="${movie.title}">Thế Giới Ma Quái 2</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="py-4 pb-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-3">Phim Lẻ Mới Cập Nhật</h3>
                <a href="#">Xem thêm</a>
            </div>
            
            <div class="row">
                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4 pb-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-3">Phim Chiếu Rạp Mới Cập Nhật</h3>
                <a href="#">Xem thêm</a>
            </div>
            
            <div class="row">
                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                           <a href="./phim.html"><img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100"></a>
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>

                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="./assets/img/Sweet-Home-2.jpg" alt="movie" class="w-100 h-100">
                        </div>
                        <p class="mt-2">Thế Giới Ma Quái 2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-4 pb-4">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <div class="col2">
                            <p class="mb-0 text-center fs-2 ">5</p>
                            <p class="mt-0 fs-4 text-center">Top</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <th:block th:replace="~{/fragments/footer :: footer}"></th:block>
    <script src="/lib/bootstrap-5.3.1-dist/js/bootstrap.min.js"></script>
</body>
</html>